@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our E-Book Application</h1>
    <p>You have to register or login to the system before reading any books.</a>.</p>
</div>
