@model Prototype.Models.Book

@{
    ViewData["Title"] = "Read";
}

<h1>@Html.DisplayFor(model => model.Name)</h1>

<button class="color-reverse btn btn-dark btn-light" onclick="reverseColors()">Dark Mode</button>

<script>
    var divs = document.getElementsByTagName("div");
    function reverseColors() {
        var body = $("body")[0];
        var text = $(".page-text")[0];

        body.classList.toggle("bg-dark");
        text.classList.toggle("text-light");

        var colorButton = $(".color-reverse")[0];

        colorButton.classList.toggle("btn-dark")
        if (colorButton.textContent === "Dark Mode")
        {
            colorButton.textContent = "Light Mode";
        } else
        {
            colorButton.textContent = "Dark Mode";
        }
    }
</script>
<button onclick="highlightSelection()">Highlight </button>
<script>
        function highlightSelection() {
        var userSelection = window.getSelection();
        for(var i = 0; i < userSelection.rangeCount; i++) {
            highlightRange(userSelection.getRangeAt(i));
        }
    }

    function highlightRange(range) {
        var newNode = document.createElement("span");
        newNode.setAttribute(
           "style",
           "color:red ;background-color: yellow; display: inline;"
        );
        range.surroundContents(newNode);
    }

</script>



    <hr />
        <p class="page-text"> <span style="white-space: pre-line"> @ViewBag.book </span> </p>
</div>
<div>
    <a asp-action="Previous" asp-controller="Book" class="btn btn-primary">Previous Page</a> |
    <a asp-action="Next" asp-controller="Book" class="btn btn-primary">Next Page</a> 
    <button onclick="boyutlandir(-1)" class="btn btn-info">
    Küçült</button> | <button  onclick="boyutlandir(1)" class="btn btn-info"> Büyüt</button>  
    <script type="text/javascript"> 
    var c = document.getElementsByClassName("page-text")[0]; 
    function boyutlandir(multiplier) { if (c.style.fontSize == "") { c.style.fontSize = "1.0em"; } 
    c.style.fontSize = parseFloat(c.style.fontSize) + (multiplier * 0.2) + "em"; } 
    </script>
</div>