@model Prototype.Models.Book

@{
    ViewData["Title"] = "Read";
}

<h1>@Html.DisplayFor(model => model.Name)</h1>

<div>
    <hr />
        <p> <span style="white-space: pre-line"> @ViewBag.book </span> </p>
</div>
<div>

</div>