@model Prototype.Models.Book

@{
    ViewData["Title"] = "Read";
}

<h1>@Html.DisplayFor(model => model.Name)</h1>

<div>
    <hr />
        <p class="page-text"> <span style="white-space: pre-line"> @ViewBag.book </span> </p>
</div>
<div>
    <a asp-action="Previous" asp-controller="Book" class="btn btn-primary">Previous Page</a> |
    <a asp-action="Next" asp-controller="Book" class="btn btn-primary">Next Page</a>
</div>